
@{
    ViewBag.Title = "CreateTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Table results</h2>

 Creation of @ViewBag.TableName @(ViewBag.Success == true ? "succeeded" : "failed")